<div id="divForm">
	<div class="page-header"><h1>{{operacao.nome}} de Máquinas</h1></div>
	<br>
	<form id="maquinaForm" name="maquinaForm" class="form-horizontal" novalidate ng-submit="salvarMaquina()">
		
		<!-- MAQUINA -->
		<div class="form-group">
			<label class="col-md-2 control-label" for="modelo">Modelo*:</label>
			<div class="col-md-6">
				<input id="modelo" ng-model="maquina.modelo" required class="form-control input-md" type="text" placeholder="modelo da máquina" name="modelo"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="modelo">NºGarantia*:</label>
			<div class="col-md-6">
				<input id="nuGarantia" ng-model="maquina.nuGarantia" required class="form-control input-md" type="text" placeholder="Número de garantia" name="nuGarantia"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="ano">Ano:</label>
			<div class="col-md-6">
				<input id="ano" maxlength="4" class="form-control input-md" type="text" placeholder="ano da máquina"  ng-model="maquina.ano" numbers-only name="ano"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="desc">Descrição:</label>
			<div class="col-md-6">
				<textarea id="desc" ng-model="maquina.desc" placeholder="descrição da máquina" class="form-control input-md" rows="5" name="desc"></textarea>
			</div>
		</div>
		
		<!-- HISTORICO -->
		<div class="page-header"><h1>Histórico do equipamento:</h1></div>
		
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th width="100px">Data:</th>
						<th width="100px">Estado:</th>
						<th width="*">Relato Cliente:</th>
						<th width="120px">Cliente:</th>
						<th width="350px">Relato do Técnico:</th>
						<th width="30px"> </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="itemHistorico in maquina.historico">
						<td>{{itemHistorico.data | date:'dd/MM/yyyy'}}</td>
						<td>{{itemHistorico.tipoHistorico}}</td>
						<td>{{itemHistorico.problema}}</td>
						<td>{{itemHistorico.cliente}}</td>
						<td>{{itemHistorico.problemaTecnico}}</td>
						<td><button type="button" class="close" ng-hide="itemHistorico.podeExcluir === false" ng-confirm-message="Tem certeza que deseja excluir o registro?" ng-confirm-click="removerItemHistorico(itemHistorico)" ng-messa><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<button type="button" class="btn btn-primary" ng-show="mostraFormHistorico == false" ng-click="mostraFormHistorico = true">Adicionar</button>
		<br><br>
		<!-- CADASTRO DO HISTORICO -->
		<div id="cadastroHistorico" ng-show="mostraFormHistorico" class="formHistorico">
			<ng-include src="'views/historico_form.html'"></ng-include>
			<button type="button" class="btn btn-primary" ng-click="mostraFormHistorico = false;">Fechar</button>
		</div>
		<!-- BOTOES -->
		</br>
		<button type="submit" ng-class="{disabled :formMaquinaTemErro(maquinaForm) }" class="btn btn-primary col-md-offset-4" ng-disabled="formMaquinaTemErro(maquinaForm)">Salvar</button>

		<button ng-confirm-click="excluirMaquina(maquina)" ng-confirm-message="Tem certeza que deseja excluir máquina?" type="button" class="btn btn-primary" ng-show="operacao.tipo == 'edicao'">Excluir</button>

		<button type="button" class="btn btn-primary col-md-offset-3" ng-click="voltar()">Voltar</button>
	</form>
</div>