<div class="page-header"><h1>{{operacao.nome}} de Clientes</h1></div>
<br>
<form id="clienteForm" name="clienteForm" class="form-horizontal" novalidate ng-submit="salvarCliente(cliente)">
	
	<div class="form-group">
		<label class="col-md-1 control-label" for="nome">Nome:</label>
		<div class="col-md-5">
			<input id="nome" ng-model="cliente.nome" required class="form-control input-md" type="text" placeholder="nome do cliente" name="nome"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-1 control-label" for="email">Email:</label>
		<div class="col-md-5">
			<input id="email" ng-model="cliente.email" required class="form-control input-md" type="email" placeholder="email do cliente" name="email"></input>
		</div>
	</div>
	<button type="button" ng-click="salvarCliente(cliente); cliente = null" ng-class="{disabled :clienteForm.$invalid }" class="btn btn-primary col-md-offset-1" ng-disabled="clienteForm.$invalid">Salvar Cliente</button>

	<button type="button" ng-confirm-click="excluirCliente(cliente)" ng-confirm-message="Tem certeza que deseja excluir cliente?" class="btn btn-primary" ng-show="operacao.tipo=='edicao'">Excluir Cliente</button>
	
	<a type="button" href="/#clientes" class="btn btn-primary col-md-offset-1">Voltar</a>

	
</form>