<div class="page-header">
	<h1>Clientes</h1>
</div>
<div name="mensagens" id="mensagens"></div>
<div class="gridStyle" ng-grid="gridClientes"></div>
<hr>

<div class="busca form-group form-horizontal row">
	<label class="col-md-1 control-label" for="modelo">Buscar:</label>
	<div class="col-md-4">
		<input type="text" class="form-control" ng-model="filterOptions.filterText" placeholder="busca...">
	</div>
</div>
<hr>

<a class="btn btn-primary" type="button" href="/#clientes/novo">Cadastrar Cliente</a>
<a class="btn btn-primary" type="button" href="#">Voltar</a>