<h1>Adicionar registro de histórico</h1>
<br>
<div class="form-group">
	<label class="col-md-2 control-label" for="itemHistoricoNovo.cdTipoHistorico">Tipo Histórico*:</label>
	<div class="col-md-3">
		<select
			class="form-control col-md-6"
			name="tipoHistorico"
			ng-model="itemHistoricoNovo.tipoHistorico"
			ng-options="historico.value as historico.value for historico in tiposHistorico"
			required
			>
			<option value="">selecione</option>
		</select>
	</div>
	
	<label class="col-md-1 control-label" for="itemHistoricoNovo.data">Data*:</label>
	<div class="col-md-3" ng-class="{'has-error': maquinaForm.data.$dirty && maquinaForm.data.$invalid}">
		<input required type="text" class="form-control" ng-model="itemHistoricoNovo.data" data-date-format="dd/MM/yyyy" data-date-type="number" data-autoclose="1" name="data" placeholder="clique para abrir calendário" bs-datepicker>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="itemHistoricoNovo.problema">Problema relatado:</label>
	
	<div class="col-md-7">
		<input id="itemHistoricoNovo.problema" name="problema" class="form-control input-md" type="text" placeholder="Problema Relatado"  ng-model="itemHistoricoNovo.problema" name="itemHistoricoNovo.problema"></input>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="itemHistoricoNovo.cliente">Quem Relatou:</label>
	<div class="col-md-6">
		<input  disabled id="itemHistoricoNovo.cliente" maxlength="4" class="form-control input-md disabled" type="text" placeholder="Cliente"  ng-model="itemHistoricoNovo.cliente" name="itemHistoricoNovo.cliente"></input>
	</div>
	<selecionador-cliente entidade="itemHistoricoNovo"></selecionador-cliente>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="itemHistoricoNovo.problemaTecnico">Relatado Pelo técnico:</label>
	<div class="col-md-7">
		<input id="itemHistoricoNovo.problemaTecnico" maxlength="4" class="form-control input-md" type="text" placeholder="Cliente"  ng-model="itemHistoricoNovo.problemaTecnico" name="itemHistoricoNovo.problemaTecnico"></input>
	</div>
</div>
<button type="button" ng-class="{'disabled' : formHistoricoTemErro(maquinaForm) }" ng-disabled="formHistoricoTemErro(maquinaForm)" class="btn btn-primary" ng-click="adicionarItemHistorico(itemHistoricoNovo);itemHistoricoNovo = null;">Adicionar</button>