<div>
	<h1 class="page-header">Home</h1>
	
	<a href="/#maquinas" class="elemento-home">
		<div class="col-3 col-sm-3 col-lg-2 elemento-home" style="text-align:center">
			<br><br>
			<span class="glyphicon glyphicon-cog"></span>
			<h2>Máquinas</h2>
			</p>
		</div>
	</a>

	<a href="/#clientes" class="elemento-home">
		<div class="col-3 col-sm-3 col-lg-2 elemento-home" style="text-align:center">
			<br><br>
			<span class="glyphicon glyphicon-user"></span>
			<h2>Clientes</h2>
			</p>
		</div>
	</a>
</div>