<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body-cliente">
				<div class="gridStyle" ng-grid="gridClientes"></div>
				<br>
				<div class="form-group">
					<div class="pull-right">
						<label class="control-label col-md-2" for="filtro.texto" >Filtrar</label>
						<div class="col-md-10 ">
							<input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="buscar..">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="$hide()" class="btn btn-primary btn-sm">
				<div>Pronto! <span class="glyphicon glyphicon-search"></span></div>
				</button>
			</div>
		</div>
	</div>
</div>